html,
body,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
img,
pre,
form,
fieldset {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-35 {
  font-size: 35px;
}

.middle-dot {
  display: flex;
  width: 1px;
  height: 1px;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.grey-1 {
  color: rgba(0, 0, 0, 0.55);
}

.primary-1 {
  color: #577dc2;
}

.menu-color {
  color: #0c2e69bc;
}

hr {
  margin: 0 !important;
  padding: 0 !important;
  color: rgba(0, 0, 0, 0.2) !important;
}

.text-grey {
  color: rgba(0, 0, 0, 0.7);
}

.table-img {
  min-width: 25px;
  object-fit: cover;
}


.light-grey {
  color: rgb(0, 0, 0, 0.3);
}

.grey {
  color: rgb(0, 0, 0, 0.6);
}

.bg-grey {
  background: #fafafa;
}

.container-mx {
  margin: 0 auto;
  max-width: 1300px;
}

.mw-board {
  max-width: 1100px;
}

.border-orange {
  border: 1px solid orange !important;
}

.text-orange {
  color: orange;
}

.arco-notification-wrapper {
  position: fixed;
  z-index: 2000 !important;
}

